extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter Your Text Here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
    h2 KAYAK is a palindrome because you can spell it the same forwards as it backwards, k a y a k.
    h2 RACECAR is a palindrome because you can spell it the same forwards as it backwards, r a c e c a r.
    h2 NOON is a palindrome because you can spell it the same forwards as it backwards, n o o n.
  if message
    p=message